<% return if value.blank? %>

<% i = 0 %>
<div class="container-fluid">
<% value.each do |cate| %>
  <div class="text-center">
  <%break if i >= 9 %>
    <div class="col-md-4">
      <% tag_name = [cate.name.upcase, "(#{cate.job_count})"].join(" ") %>
      <% if category == 'city' %>
        <%= link_to tag_name, city_jobs_path(:city_id => cate.id), class: 'tag' %>
      <% else %>
        <%= link_to tag_name, industry_jobs_path(:industry_id => cate.id) ,class: 'tag'%>
      <% end %><br><br><br>
    </div>
  </div>
  <% i += 1 %>
<% end %>
</div>