<% return if value.blank? %>
<% for i in 0..value.length/3 do %>
  <div class="text-center">
  <% for j in 0..3 do %>
    <%break if i*3 + j>= value.length%>
    <div class="col-sm-3">
      <%= link_to value[i*3 + j].name.upcase, (category == 'city'? city_jobs_path(:city_id => value[i*3 + j].id) : industry_jobs_path(:industry_id => value[i*3 + j].id)), class: 'tag'%>
      <br>
    </div>
    <% end %>
  </div>
<% end %>
