<% return if value.blank? %>
<% value.each do |cate|%>
  <div class="col-sm-3 text-center">
    <%= link_to cate.name.upcase, (category == 'city'? city_jobs_path(:city_id => cate.id) : industry_jobs_path(:industry_id => cate.id)), class: 'tag'%>
  <br>
  </div>
<% end %>
