<style>
  body {
    font: 12px/1.5 'PT Sans', serif;
    margin: 25px;
  }

  .tags {
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
  }

  .tags li {
    float: left;
  }

  .tag {
    background: #eee;
    background-color: #CACFD2;
    border-radius: 3px 0 0 3px;
    color: black;
    display: inline-block;
    height: 40px;
    width: 200px;
    line-height: 40px;
    padding: 0 20px 0 3px;
    position: relative;
    margin: 0 10px 10px 0;
    text-decoration: none;
    -webkit-transition: color 0.2s;
  }

  .tag::before {
    background: #fff;
    border-radius: 10px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
    content: '';
    height: 16px;
    left: 10px;
    position: absolute;
    width: 6px;
    top: 12px;
  }

  .tag::after {
    background: #fff;
    border-bottom: 20px solid transparent;
    border-left: 10px solid #eee;
    border-top: 20px solid transparent;
    content: '';
    position: absolute;
    right: 0;
    top: 0;
  }

  .tag:hover {
    background-color: #808000;
    color: white;
    cursor: pointer;
  }

  .tag:hover::after {
     border-left-color: #808000;
  }
</style>
<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <% return if value.blank? %>
  <% for i in 0..value.length/3 do %>
    <div class="text-center">
    <% for j in 0..3 do %>
      <%break if i*3 + j>= value.length%>
      <div class="col-sm-3">
        <a href="<%= category == 'city'? city_path(:id => value[i*3 + j].id) : industry_path(:id => value[i*3 + j].id) %>" class="tag">
          <%= value[i*3 + j].name.upcase%>
        </a>
        <br>
      </div>
      <% end %>
    </div>
  <% end %>
</body>
</html>