<div class="text-center">
  <div class="container jumbotron well">
    <h1>CITY LIST</h1>
    <div class="=row">
      <a href="#vn_city" class="col-sm-6">
        <div class="tag"> VIET NAM</div>
      </a>
      <a href="#inter_city" class="col-sm-6">
        <div class="tag">INTERNATIONAL</div>
      </a>
    </div>
  </div>
</div><br>

<div class="container-fluid bg-3">
  <div class="tag text-center" id="vn_city">VIET NAM</div>
  <%= render partial: 'form_template/job_by_category_form', locals: {category: 'city', value: @vn_cities}%>
</div><br>

<div class="jumbotron container-fluid bg-3">
  <div class="tag text-center" id="inter_city">INTERNATIONAL</div>
  <%= render partial: 'form_template/job_by_category_form', locals: {category: 'city', value: @inter_cities} %><br>
</div>