<div class="container-fluid bg-3">
  <div class="tag text-center" id="vn_city">INDUSTRY LIST</div>
  <%= render partial: 'form_template/job_by_category_form', locals: {category: 'industry', value: @industries}%>
</div>