<div class="well">
  <div class="row">
    <div class="btn-group btn-breadcrumb">
        <div class="btn btn-primary navigate-apply"> &#9312; New </div>
        <div class="btn btn-primary navigate-apply">&#9313; Confirm</div>
        <div class="btn btn-primary navigate-apply">&#9314; Finish</div>
    </div>
  </div>
</div>

<div class="container well text-center">
  <h2>Thank you for apply</h2>
  <%= link_to "Back to the TOP page", top_index_path %>
</div>