/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

.css_body {
  text-align: center;
}
.right-text {
  text-align: right;
}

/* Add a gray background color and some padding to the footer */
footer {
  background-color: #f2f2f2;
  padding: 25px;
}
@media screen and (min-device-width:698px) {
  div#showgrid {
    width: 720px;
    margin: auto;
  }
}

div.column {
  /*border-style: solid;*/
  /*border-width: 1px;*/
}

.row {
  width: 100%;
  margin: auto;
}

@media (min-device-width: 698px) {
  .column {
    width: 230px;
    height: 230px;
    display: inline;
    float: left;
  }
}

.column {
  width: 230px;
  height: 230px;
  margin: auto;
}

.tags {
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.tags li {
  float: left;
}

.tag {
  background: #eee;
  background-color: #CACFD2;
  border-radius: 3px 0 0 3px;
  color: black;
  display: inline-block;
  height: 40px;
  width: 200px;
  line-height: 40px;
  padding: 0 20px 0 3px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}

.tag::before {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 16px;
  left: 10px;
  position: absolute;
      width: 6px;
  top: 12px;
}

.tag::after {
  background: #fff;
  border-bottom: 20px solid transparent;
  border-left: 10px solid #eee;
  border-top: 20px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

.tag:hover {
  background-color: #808000;
  color: white;
  cursor: pointer;
}

.tag:hover::after {
   border-left-color: #808000;
}
