@media screen and (min-device-width:698px) {
  div#showgrid {
    width: 720px;
    margin: auto;
  }
}

.bg-img {
  background-image: url("/images/bg-header.jpg");
}

.header-style{
  background-color: #A4BECE;
  background-image: url("/images/bg-header-1.jpg");
}

.tags {
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.tags li {
  float: left;
}

.tag {
  background: #eee;
  font-size: 11px;
  background-color: #CACFD2;
  border-radius: 3px 0 0 3px;
  color: black;
  display: inline-block;
  height: 40px;
  width: 200px;
  line-height: 40px;
  padding: 0 20px 0 3px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}

.tag::before {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 16px;
  left: 10px;
  position: absolute;
      width: 6px;
  top: 12px;
}

.tag::after {
  background: #fff;
  border-bottom: 20px solid transparent;
  border-left: 10px solid #eee;
  border-top: 20px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

.tag:hover {
  background-color: #808000;
  color: white;
  cursor: pointer;
}

.tag:hover::after {
   border-left-color: #808000;
}

.top-page{
  background-color: #CACFD2;
}

.top-count {
  font-weight: bold;
  font-size: 16px;
}

.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

.css_body {
  text-align: center;
}
.right-text {
  text-align: right;
}

.button-css {
  padding-bottom: 15px;
}
.column {
  text-align: left;
  vertical-align: middle;
  width: 100%;
  height:120px;
  margin: auto;
}
.job-title {
  margin: 10px;
  font-size: 16px;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
}
.job-details {
  margin: 15px;
  font-size: 14px;
}

.border-row {
  border-style: double;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

/** The Magic **/
.btn-breadcrumb .btn:not(:last-child):after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 10px solid white;
  position: absolute;
  top: 50%;
  margin-top: -17px;
  left: 100%;
  z-index: 3;
}
.btn-breadcrumb .btn:not(:last-child):before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 10px solid rgb(173, 173, 173);
  position: absolute;
  top: 50%;
  margin-top: -17px;
  margin-left: 1px;
  left: 100%;
  z-index: 3;
}

.text-title {
  font-weight: bold;
  color: blue;
  font-style: italic;
  font-size: 15px;
}
/** The Spacing **/
.btn-breadcrumb .btn {
  padding:6px 12px 6px 24px;
}
.btn-breadcrumb .btn:first-child {
  padding:6px 6px 6px 10px;
}
.btn-breadcrumb .btn:last-child {
  padding:6px 18px 6px 24px;
}

/** Primary button **/
.btn-breadcrumb .btn.btn-primary:not(:last-child):after {
  border-left: 10px solid #428bca;
}
.btn-breadcrumb .btn.btn-primary:not(:last-child):before {
  border-left: 10px solid #357ebd;
}
.btn-breadcrumb .btn.btn-primary:hover:not(:last-child):after {
  border-left: 10px solid #3276b1;
}
.btn-breadcrumb .btn.btn-primary:hover:not(:last-child):before {
  border-left: 10px solid #285e8e;
}

.footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
   /*background:#f2f2f2;*/
   background-color: #A4BECE;
   padding: 25px;
   text-align: center;
   vertical-align: middle;
}

.row {
  width: 90%;
  margin: auto;
}

.row-dl {
  width: 90%;
  margin: auto;
  background-color: white;
}

.column-job {
  height: 130px;
  display: inline;
  float: left;
  text-align: left;
  margin-left: 20px;
}

.radio-button-css {
  text-align: left;
  margin-left: -30px;
  margin-top: -18px;
}

.remove-favorite-css {
  text-align: right;
  margin-right: -30px;
  margin-top: -20px;
  cursor: pointer;
}

.salary-css {
  text-align: right;
  /*margin-left: 100px*/
}

.navigate-apply{
  width: 200px;
  font-size: 15px;
  font-weight: bold;
}

.navigate-apply-disable{
  width: 200px;
  font-size: 15px;
  color: silver;
}